@model Upload_Sample.Models.Entities.Artist

@{
    ViewData["Title"] = "UploadFile";
}

<div class="container">
    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-xl-6 offset-3 col-lg-12">
                <div class="card mt-4">
                    <div class="card-content collpase show">
                        <div class="card-header">
                            <h2>Add Artist</h2>
                        </div>
                        <div class="card-body">
                            <form asp-action="CreateArtist" enctype="multipart/form-data" class="form form-horizontal">
                                <div class="form-body">

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput5">Artist Name</label>
                                        <div class="col-md-9">
                                            <input type="text" asp-for="Name" id="projectinput5" class="form-control" placeholder="Artist Name">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-3 label-control">Image</label>
                                        <div class="col-md-9">
                                            <label id="projectinput8" class="file center-block">
                                                <input type="file" name="file" id="file">
                                                <span class="file-custom"></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions right">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- // Basic form layout section end -->
</div>
