@model Upload_Sample.Models.ViewModels.SongViewModel

@{
    ViewData["Title"] = "Song";
    var i = 1;
}

<div class="container">
    <div class="row d-flex justify-content-center mt-4">

        <div class="col-lg-4 col-md-6 mb-4">

            <!--Panel-->
            <div class="card mb-3">
                <div class="view overlay">
                    <img src="@Model.AlbumImage" style="height:300px;" class="card-img-top" alt="">
                </div>
                <div class="card-header">Album Name : @Model.AlbumName<strong></strong></div>
                <div class="card-body">
                    @foreach (var item in Model.Song)
                    {
                        <div class="row mb-2">
                            <div class="col-md-6" style="font-size:13px;">
                                <div class="d-inline"><strong>@i - @item.Name</strong></div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="d-inline text-white">
                                    <a class="btn btn-info btn-md waves-effect waves-light" style="font-size:13px; padding:5px 15px;" href="https://mdbootstrap.com/mdb-affiliate-tutorial/">
                                        Download
                                    </a>
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                </div>
            </div>
            <!--/.Panel-->

        </div>
    </div>
</div>